.card {
  position: relative;
  font-family: $base-font-secondary;
  text-align: left;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  text-shadow: $shadow-tertiary;
  background: $bgc-card;

  &__header {
    display: flex;
    justify-content: space-between;

    &-information {
      font-size: 20px;
    }

    &-contactless {
      height: 40px;
    }
  }

  &__chip {
    height: 70px;
    width: 70px;
    padding-left: 10px;
  }

  &__number {
    padding: 18px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;

    &--correct {
      color: $color-secondary;
    }

    &--uncorrect {
      color: $color-error-primary;
    }
  }

  &__dates {
    display: flex;
    gap: 15px;
    padding-left: 10px;
    text-transform: uppercase;

    &__expire {
      padding-bottom: 20px;
      text-align: center;
      font-size: 14px;

      &-period::after {
        content: "\a";
        white-space: pre;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__holder {
    font-size: 20px;
    margin: 0;
  }

  &__logo {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 20px;
    bottom: 20px;

    &--mastercard {
      height: 60px;
      margin: 5px 15px 0 0;
    }

    &--visa {
      height: 40px;
      margin-bottom: 10px;
    }

    &--americanExpress {
      height: 50px;
      margin-left: 20px;
    }
  }

  @media (max-width: 500px) {
    &__header {
      &-contactless {
        height: 25px;
      }
    }

    &__chip {
      height: 40px;
      width: 40px;
      padding-left: 10px;
    }
    &__number {
      padding: 10px;
      font-size: 20px;
    }

    &__dates {
      &__expire {
        font-size: 10px;
      }
    }

    &__holder {
      font-size: 15px;
    }

    &__logo {
      &--mastercard {
        height: 40px;
      }

      &--visa {
        height: 20px;
        margin-bottom: 10px;
      }

      &--americanExpress {
        height: 30px;
      }
    }
  }
}
