.container {
  max-width: 600px;
}

.main-container {
  margin: 10px;
  padding: 50px;
  background-color: $bgc-secondary;
  border-radius: 6px;
  box-shadow: $shadow-primary;

  .information {
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .footer {
    padding-top: 30px;
    text-align: center;
  }

  @media (max-width: 500px) {
    padding: 30px 15px;

    .information {
      font-size: 11px;
    }

    .footer {
      font-size: 12px;
    }
  }
}
