.form {
  display: flex;
  flex-direction: column;

  &__label {
    margin-top: 80px;
    font-size: 18px;
    letter-spacing: 2px;
  }
  &__numberInput {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
  }
  &__list {
    margin: 0;
    padding: 30px 0;
    list-style: none;
    height: 200px;
    &-error {
      margin: 0;
      padding: 5px 0;
      font-size: 16px;
      color: $color-secondary;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 50px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $bgc-secondary;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: 0.3s transform ease;
    &:hover {
      font-weight: 700;
      transform: scale(1.05);
    }
  }

  &__information {
    font-size: 14px;
    letter-spacing: 2px;
  }

  &__footer {
    padding-top: 40px;
    text-align: center;
  }
}
