.form {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 18px;
    letter-spacing: 2px;
  }

  &__numberInput {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
  }

  &__list {
    margin: 0;
    padding: 30px 0;
    list-style: none;
    height: 200px;

    &-error {
      margin: 0;
      padding: 5px 0;
      font-size: 16px;
      color: $color-secondary;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 50px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $bgc-tertiary;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: 0.3s transform ease;

    &:hover {
      font-weight: 700;
      transform: scale(1.05);
    }
  }

  @media (max-width: 500px) {
    &__label {
      font-size: 14px;
    }

    &__button {
      padding: 15px 30px;
      font-size: 15px;
    }

    &__list {
      height: 190px;

      &-error {
        font-size: 12px;
      }
    }
  }
}
