.header {
  padding: 40px;

  &__heading {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  &__cards__collection {
    padding: 20px;
    text-align: center;
  }

  @media (max-width: 500px) {
    &__heading {
      font-size: 25px;
    }

    &__cards__collection {
      padding: 0;
    }
  }
}
